{% extends "base.html" %}

{% block content %}

<h1>Edit Menu Item</h1>

<form method="POST" class="form-card">

    <label>Item Name</label>
    <input
        type="text"
        name="item_name"
        value="{{ item.item_name }}"
        required
    >

    <label>Category</label>
    <input
        type="text"
        name="category"
        value="{{ item.category }}"
        required
    >

    <label>Price</label>
    <input
        type="number"
        name="price"
        step="0.01"
        min="0"
        value="{{ item.price }}"
        required
    >

    <label>Stock Quantity</label>
    <input
        type="number"
        name="stock_quantity"
        min="0"
        value="{{ item.stock_quantity }}"
        required
    >

    <div class="form-actions">

        <button type="submit" class="btn">
            Update Item
        </button>

        <a href="{{ url_for('menu') }}" class="cancel-btn">
            Cancel
        </a>

    </div>

</form>

{% endblock %}